
// *******FONT-COLOR*********
$f-color_gray_A8A8A8: rgba(168, 168, 168, 1); 
$f-color_gray_C4C4C4: rgba(196, 196, 196, 1);
$f-color_gray_F7F7F7: rgba(247, 247, 247, 1); //F7F7F7
$f-color_gray_CED3CA: rgba(206, 211, 202, 1); //CED3CA
$f-color_gray_B3B3B3: rgba(179, 179, 179, 1); //B3B3B3
$f-color_gray_808080: rgba(128, 128, 128, 1); //808080
$f-color_black_292929: rgba(41, 41, 41, 1); //292929
$f-color_black_242424: rgba(36, 36, 36, 1);
$f-color_black_1A1A1A:rgba(26, 26, 26, 1); //1A1A1A
$f-color_red: rgba(255, 52, 81, 1);
$f-color_black: black;
$f-color_white: white;
$f-color_transparent: transparent;
//*****FONT-SIZE*********
$f-size_13: 13px;
$f-size_14: 14px;
$f-size_15: 15px;
$f-size_16: 16px;
$f-size_17: 17px;
$f-size_18: 18px;
$f-size_38: 38;
$f-size_30: 30;
$f-size_35: 35;
//*****FONT-WEIHT**** 
$weight_regular:400;
//*****COTAINER****
$container-size: 1160px;
$maxWidth: 1440;